# ignoring all folders/files that might contain sensitive user information so that peoples transactions arent accidentally loaded to git
/input/custom_rules/*
!/input/custom_rules/.gitkeep

/input/banking_transactions/*
!/input/banking_transactions/.gitkeep
/input/banking_transactions/processed/*
!/input/banking_transactions/processed/.gitkeep

/output/*
!/output/.gitkeep

/PyFynance/resources/databases/backup/*
!/PyFynance/resources/databases/backup/.gitkeep

/PyFynance/resources/databases/current/*
!/PyFynance/resources/databases/current/.gitkeep

**.ofx
**.qfx

# Ignoring log folder
/logs/*
!/logs/.gitkeep

# ignore IDE shit
/.idea